<!DOCTYPE html>
<html>
    <html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css" type="text/css" />
        
    </head>
    <body>
        <div id = 'container'>
        <h1>Avaughn Prendergast</h1>
        <img src ="/static/images/avaughn.jpg" height = '325' align = 'middle'>
        <p>
            <div id = 'paragraph'>
            My name is Avaughn Dario Prendegast. I am a second year Actuarial Science Major with an
            avid interest in web design and development.<br> In my spare time (if I have any) I like to
            read and watch anime. Mathematics is my greatest passion and is the thing I invest most
            time and effort on.<br>
            I also enjoy going out with friends. 
            I hope you enjoy my website. 
            </div>
        </p>
        </div>
    </body>
</html>